<div class="col-md-12">

    <div class="d-flex justify-content-center">
        <app-live-code [code]="code"></app-live-code>
    </div>

    <div class="col-md-12 ">
        <div class="row">
            <div class="col-md-6">

                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="character">CHARACTER</label>
                        <input (change)="waitCharacterTimer()" [disabled]="characterTimeoutActive" type="text"
                            class="form-control" id="character" placeholder="CHARACTER" max="1">
                    </div>
                    <div class="col-md-2" *ngIf="characterTimeoutActive">
                        <img src="assets/gifs/loading-clock.png" width="128" height="100" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <br />
                <br />
                <button class="btn btn-primary float-right" (click)="generateGrid()"> Generate </button>
            </div>
        </div>
    </div>
    <br />
    <app-grid [grid]="grid2D" (generateGrid)="generateGrid()"></app-grid>

</div>